@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<ExploreViewModel>
<table class="table mt-3" id="example">
    <thead class="dtable-head">
        <tr>
            
            <th scope="col">Patient Name</th>
            <th scope="col">Requestor</th>
            <th scope="col">Date of Service</th>
            <th scope="col">Close Case Date <img src="~/images/icons8-arrow-down-25.png" /></th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Address</th>
            <th scope="col">Zip</th>
            <th scope="col">Request Status</th>
            <th scope="col">Physician</th>
            <th scope="col">Physician Note</th>
            <th scope="col">Cancelled by Provider Name</th>
            <th scope="col">Admin Note</th>
            <th scope="col">Patient Note</th>
            <th scope="col">Delete Permanently</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var i in Model)
        {
            <tr>
                
                <td>@i.Name</td>
                <td>@i.findRequestor(i.requestorId)</td>
                <td>@i.dateofService</td>
                <td>@i.closeCaseDate</td>
                <td>@i.email</td>
                <td>@i.phone</td>
                <td>@i.address</td>
                <td>@i.zip</td>
                <td>@i.findStatus(i.status)</td>
                <td>@i.Pro</td>
                <td>@i.physician_note</td>
                <td>@i.cancelled</td>
                <td>@i.admin_note</td>
                <td>@i.patient_note</td>
             
                <td>

                    <button class="btn btn-outline-info explore" value="item.Id">
                        Delete
                    </button>



                </td>

            </tr>
   } </tbody>
</table>
<script>
    $('.explore').on('click', function (e) {
        var addon = $(this).attr('value');
        $.ajax({
            url: '/Record/Explore',
            type: 'GET',
            data: { Id: addon },
            success: function (response) {
                $('#nav-home').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });
</script>
