@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header class="py-3  border-bottom bg-white">
        <div class="xl-container d-flex flex-wrap">
            <a href="/" class="d-flex  mb-3 mb-lg-0 align-items-left me-lg-auto text-dark text-decoration-none">

                <img src="/images/Screenshot (2).png" alt="" width="50%">
            </a>
            <div class="mt-1 me-2">Welcome</div>
            <h3 class="ms-2 me-3">TestTestings</h3>
            <button class="btno "><img src="/images/moon.svg" alt=""></button>
            <ul class="nav">
                <li class="nav-item"><a asp-controller="Admin" asp-action="Admin_Login" class=" btn btn-outline-primary " style="margin-right: 100px;">Logout</a></li>
            </ul>

        </div>
    </header>
    <nav class="py-2 m-0 bg-white">
        <div class="xl-container d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a  asp-action="Admin_Dashboard_New" asp-route-status="1" class="nav-link active px-2 dash-nav">DashBoard</a></li>
                <li class="nav-item"><a href="#" class="nav-link   dash-nav">Provider Locations</a></li>
                <li class="nav-item"><a href="#" class="nav-link   dash-nav">My Profile</a></li>
                <li class="nav-item"><a href="#" class="nav-link   dash-nav">Providers</a></li>
                <li class="nav-item"><a href="#" class="nav-link   dash-nav">Partners</a></li>
                <li class="nav-item"><a href="#" class="nav-link   dash-nav">Access</a></li>
                <li class="nav-item"><a href="#" class="nav-link   dash-nav">Records</a></li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid" style="position:absolute;left:0px; ">
        <div class="row  mt-3">
            <div class="col-2"><a href="#" class="btn active-1 a-button ms-4 status-1"><img src="/images/icons8-new-50 (1).png" alt="" class="me-1 new-img"><img src="\images\icons8-new-50 (2).png" alt="" class="me-1 new-img-h"><strong class="new-h">NEW</strong> <div class="h3">1452</div></a><div class="bottom-arrow"></div></div>
            <div class="col-2 "><button class="btn a-button ms-2 status-2"><img src="/images/icons8-user-50.png" alt="" class="me-1 pending-img"><img src="\images\icons8-user-50 (2).png" alt="" class="me-1 pending-img-h"><strong class="new-h">PENDING</strong><div class="h3">266</div></button><div class="bottom-arrow"></div></div>
            <div class="col-2 "><button class="btn a-button ms-2 status-3"><img src="\images\icons8-ok-50.png" alt="" class="me-1  active-img">    <img src="\images\icons8-ok-50 (1).png" alt="" class="me-1   active-img-h">      <strong class="new-h">ACTIVE</strong><div class="h3">1452</div></button><div class="bottom-arrow"></div></div>
            <div class="col-2 "><button class="btn a-button ms-2 status-4"><img src="\images\icons8-refresh-50.png" alt="" class="me-1  conclude-img">  <img src="\images\icons8-refresh-50 (1).png" alt="" class="me-1  conclude-img-h"><strong class="new-h">CONCLUDE</strong><div class="h3">1452</div></button><div class="bottom-arrow"></div></div>
            <div class="col-2 "><button class="btn a-button ms-2 status-5"><img src="\images\icons8-remove-user-50 (1).png" alt="" class="me-1 close-img"><img src="\images\icons8-remove-user-50 (2).png" alt="" class="me-1  close-img-h"> <strong class="new-h">TO CLOSE</strong><div class="h3">1452</div></button><div class="bottom-arrow"></div></div>
            <div class="col-2 "><button class="btn a-button ms-2 status-6"><img src="\images\icons8-receive-dollar-50.png" alt="" class="me-1  unpaid-img"><img src="\images\icons8-receive-dollar-50 (1).png" alt="" class="me-1 unpaid-img-h"><strong class="new-h">UNPAID</strong><div class="h3">1452</div></button>   <div class="bottom-arrow"></div></div>
        </div>
        <div class="container-fluid" style="position:absolute;left:0px; ">
            <div class="row mt-5">
                <div class="col-6">
                    <div class="h3">Patients<span class="h6">  (New)</span></div>
                </div>
                @* <div class="col-1"></div> *@
                <div class="col-6">
                    @*  <div class="container"> *@
                    @* <div class="container-fluid" style="position:absolute;left:200px; "> *@
                    @*   <div class="row"> *@

                    @* <div class="col-2"> *@<button class="btn btn-link-a"><img src="\images\icons8-telegram-25.png" alt="" class="me-1"><strong>Send Link</strong></button>
                    @* <div class="col-2"> *@<button class="btn btn-link-a"><img src="\images\icons8-note-25.png" alt="" class="me-1">    <strong>Create Requests</strong></button>
                    @* <div class="col-2"> *@<button class="btn btn-link-a"><img src="\images\icons8-right-2-25.png" alt="" class="me-1">   <strong>Export</strong></button>
                    @* <div class="col-3"> *@<button class="btn btn-link-a"><img src="\images\icons8-all-25.png" alt="" class="me-1">     <strong>Export All</strong></button>
                    @* <div class="col-3"> *@<button class="btn btn-link-a"><img src="\images\icons8-user-25.png" alt="" class="me-1"> <strong>Request DTY Support</strong></button>

                    @*  </div> *@
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-2" style="position:absolute;left:0px; top:400px;">
        <div class="row mb-2" style="background-color:white;">
            <div class="col-2 mt-3"><input type="search" placeholder="Search Patients" class="search"/><img src="/images/icons8-search-25.png" style="position:relative;left:-180px;"/></div>
            <div class="col-2 mt-3">
                <select class="form-select search" aria-label="Default select example">
                    <option selected>All Regions</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <img src="/images/icons8-search-25.png" style="position:relative;left:10px;top:-40px;" />
            </div>
            <div class="col-2"></div>
            <div class="col-6 mt-3">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-filter me-5" for="btnradio1" >All</label>

                    <input type="radio" class="btn-check " name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-filter me-5" for="btnradio2"><img src="~/images/icons8-circle-25.png" class="me-1"/>Patient</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-filter me-5" for="btnradio3"><img src="~/images/icons8-circle-25 (1).png" class="me-1" />Family/Friend</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-filter me-5" for="btnradio4"><img src="~/images/icons8-circle-25 (2).png" class="me-1" />Business</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                    <label class="btn btn-filter me-5" for="btnradio5"><img src="~/images/icons8-circle-25 (3).png" class="me-1" />Concierge</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                    <label class="btn btn-filter me-5" for="btnradio6"><img src="~/images/icons8-circle-25 (4).png" class="me-1"/>Vip</label>
                </div>
            </div>
        </div>
        <table class="table" id="example">
            <thead class="dtable-head">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Date Of Birth</th>
                    <th scope="col">Requestor</th>
                    <th scope="col">Requested Date</th>
                     <th scope="col">Phone</th>
                    <th scope="col">Address</th>
                    <th scope="col">Notes</th>
                    <th scope="col">Chat With</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                
                @foreach(AdminDashboardTableDataViewModel item in Model){
                    var color="";
                    switch(item.RequestorType)
                    {
                        case 1:
                            color = "#5FBC61";
                            break;
                        case 2:
                            color = "#E8932F";
                            break;
                        case 3:
                            color = "#E0657A";
                            break;
                        case 4:
                            color = "#007FC6";
                            break;
                        case 5:
                            color = "#913FB0";
                            break;
                        
                    }
                    <tr style="background-color:@color;color:white">
                   
                    <td>@item.PatientName</td>
                    <td>@item.PatientDOB</td>
                    <td>@item.RequestorName</td>
                    <td>@item.RequestedDate</td>
                    <td>@item.PatientPhone  @item.RequestorPhone</td>
                    <td>@item.Address</td>
                    <td>@item.Notes</td>
                    <td>@item.ProviderEmail</td>
                    <td>@item.RequestorType</td>

                </tr>
                }
            </tbody>
        </table>
    </div>



    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/js/dataTables.js"></script>
    <script src="/js/dataTables.bootstrap5.js"></script>
   
</body>
</html>
<script>
    var table = $('#example').DataTable({ dom: 'lrtip' });
    $('input[type="search"]').on('keyup', function () {
        table.search(this.value).draw();
    });
    // $('input[name="requestby"]').on('change', function () {
    //     var value = $(this).attr('id');
    //     console.log(value);
    //     if (value == 'requestbyAll') {
    //         table.columns(0).search('').draw();
    //     }
    //     else {
    //         table.columns(0).search(value).draw(); // Replace 0 with the index of the column you want to filter
    //     }
    // });
</script>