@using HalloDoc.Models
@model IEnumerable<AdminDashboardTableDataViewModel>


<div class="container-fluid mt-2" style="position:absolute;left:0px; top:400px;">
    <div class="row mb-2" style="background-color:white;">
        <div class="col-2 mt-3"><input type="search" placeholder="Search Patients" class="search" /><img src="/images/charm1.png" style="position:relative;left:-180px;" /></div>
        <div class="col-2 mt-3">
            <select class="form-select search" aria-label="Default select example" id="region">
                <option selected value="All">All Regions</option>
               @foreach(var item in Model)
               {
                    @foreach (var item1 in item.regions)
                    {
                        <option value="@item1.Regionid">@item1.Name</option>
                    }
                    break;
                }
            </select>
            <img src="/images/charm1.png" style="position:relative;left:10px;top:-40px;" />
        </div>
        <div class="col-2"></div>
        <div class="col-6 mt-3">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="requestby" id="requestbyAll" autocomplete="off" checked value="requestbyAll">
                <label class="btn btn-filter me-5" for="requestbyAll">All</label>

                <input type="radio" class="btn-check" name="requestby" id="6" autocomplete="off" value="6">
                <label class="btn btn-filter me-5" for="6"><img src="~/images/icons8-circle-25.png" class="me-1" />Patient</label>

                <input type="radio" class="btn-check" name="requestby" id="2" autocomplete="off" value="2">
                <label class="btn btn-filter me-5" for="2"><img src="~/images/icons8-circle-25 (1).png" class="me-1" />Family/Friend</label>

                <input type="radio" class="btn-check" name="requestby" id="3" autocomplete="off" value="3">
                <label class="btn btn-filter me-5" for="3"><img src="~/images/charm.png" class="me-1" />Business</label>

                <input type="radio" class="btn-check" name="requestby" id="4" autocomplete="off" value="4">
                <label class="btn btn-filter me-5" for="4"><img src="~/images/icons8-circle-25 (3).png" class="me-1" />Concierge</label>

                <input type="radio" class="btn-check" name="requestby" id="5" autocomplete="off" value="5">
                <label class="btn btn-filter me-5" for="5"><img src="~/images/icons8-circle-25 (4).png" class="me-1" />Vip</label>
            </div>
        </div>
    </div>
    <table class="table" id="example">
        <thead class="dtable-head">
            <tr>
                <th scope="col" class="d-none"></th>
                <th scope="col" class="d-none"></th>
                <th scope="col">Name</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Requestor</th>
                <th scope="col">Requested Date</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Notes</th>
                <th scope="col">Chat With</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (AdminDashboardTableDataViewModel item in Model)
            {
                var color = "";
                switch (item.RequestorType)
                {
                    case 6:
                        color = "#5FBC61";
                        break;
                    case 2:
                        color = "#E8932F";
                        break;
                    case 3:
                        color = "#E0657A";
                        break;
                    case 4:
                        color = "#007FC6";
                        break;
                    case 5:
                        color = "#913FB0";
                        break;

                }
                <tr style="background-color:@color !important;color:white !important">
                    <td class="d-none">@item.RequestorType</td>
                    <td class="d-none">@item.regionid</td>
                    <td>@item.PatientName</td>
                    <td>@item.PatientDOB</td>
                    <td>@item.RequestorName</td>
                    <td>@item.RequestedDate</td>
                    <td>@item.PatientPhone  @item.RequestorPhone</td>
                    <td>@item.Address</td>
                    <td>@item.Notes</td>
                    <td>@item.ProviderEmail</td>
                    <td>

                        <div class="dropdown">
                            <a class="btn btn-secondary" href="#" role="button" data-bs-toggle="dropdown"  style="background-color:@color !important;color:white !important; border:1px solid white !important">
                                Actions
                            </a>

                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal1"><img src="~/images/icons8-checklist-25.png"/> Assign Case</button></li>
                                <li><button class="dropdown-item viewCase" value="@item.requestid"><img src="/images/icons8-search-in-list-25.png"/> View Case</button></li>
                                <li><button class="dropdown-item viewNotes" value="@item.requestid"><img src="/images/icons8-copybook-25.png"/> View Notes</button></li>
                                <li><button class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="/images/icons8-cancel-25.png"/> Cancel Case</button></li>
                                <li><button class="dropdown-item"  data-bs-toggle="modal" data-bs-target="#exampleModal2"><img src="/images/icons8-block-25 (1).png"/> Block Patient</button></li>

                            </ul>
                            <div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog  modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color:#01BCE9;color:#9EF2F6">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Assign Request</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="border:none">
                                            <div class="h6 mb-2" style="color:#9D9D9D"> To assign this request,search and select another Physician.</div>
                                            <select class="form-select mt-4" aria-label="Default select example" style="color:#8F8F8F" id="regions">
                                                <option selected hidden>Narrow search by region</option>
                                                @foreach(var item1 in item.regions)
                                                {
                                                    <option id="@item1.Regionid">@item1.Name</option>
                                                }

                                            </select>
                                            <select class="form-select mt-4 mb-4" aria-label="Default select example" style="color:#8F8F8F" id="physician">
                                                <option selected hidden>Select Physicians</option>
                                               <div class="hello"></div>
                                            </select>
                                            <div class="form-floating mt-4">
                                                <textarea class="form-control" placeholder="Leave a comment here" id="float" style="height:100px;"></textarea>
                                                <label for="floating" style="color:#8F8F8F">Description</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="border:none">

                                            <button type="button" class="btn btn-outline-info" id="assign_case" value="@item.requestid" data-bs-dismiss="modal">Submit</button>
                                            <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog  modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color:#01BCE9;color:#9EF2F6">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel" >Confirm Cancellation</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="border:none">
                                            <div class="h5 mb-4" style="color:#9D9D9D"> Patient Name:<span style="color:#5BB0C3"> @item.PatientName</span></div>
                                            <select class="form-select" aria-label="Default select example" style="color:#8F8F8F" id="casetags">
                                                <option selected>Reasons for Cancellation</option>
                                                @foreach(var item1 in item.casetags){
                                                <option value="@item1.Name">@item1.Name</option>
                                                }
                                            </select>
                                            <div class="form-floating mt-4">
                                                <textarea class="form-control" placeholder="Leave a comment here" id="floating" style="height:100px;"></textarea>
                                                <label for="floating" style="color:#8F8F8F">Provide additional notes</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="border:none">

                                            <button type="button" class="btn btn-outline-info" id="cancel_case" value="@item.requestid" data-bs-dismiss="modal">Confirm</button>
                                            <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog  modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color:#01BCE9;color:#9EF2F6">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel" >Confirm Block</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="border:none">
                                            <div class="h5 mb-4" style="color:#9D9D9D"> Patient Name:<span style="color:#5BB0C3"> @item.PatientName</span></div>
                                           
                                            <div class="form-floating mt-4">
                                                <textarea class="form-control" placeholder="Leave a comment here" id="floating" style="height:100px;"></textarea>
                                                <label for="floating" style="color:#8F8F8F">Reason for block request</label>
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="border:none">

                                            <button type="button" class="btn btn-outline-info" id="block_case" value="@item.requestid" data-bs-dismiss="modal">Confirm</button>
                                            <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>




<script>

    var table = $('#example').DataTable({ dom: 'lrtip' });
    $('input[type="search"]').on('keyup', function () {
        table.search(this.value).draw();
    });
    $('input[name="requestby"]').on('click', function () {
        var value = $(this).attr('value');
        console.log(value);
        if (value == 'requestbyAll') {
            table.columns(0).search('').draw();
        }
        else {
            table.columns(0).search(value).draw(); // Replace 0 with the index of the column you want to filter
        }
    }); 
    $('#region').on('change', function () {
        var value = $(this).val();
        if (value == 'All') {
            table.columns(1).search('').draw();
        }
        else {
            table.columns(1).search(value).draw(); // Replace 0 with the index of the column you want to filter
        }
    });
    $('.viewCase').on('click', function (e) {
        var requestid = $(this).attr('value');
        $.ajax({
            url: '/Case/ViewCase',
            type: 'GET',
            data: { id: requestid },
            success: function (response) {
                $('#nav-home').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }); 
    $('.viewNotes').on('click', function (e) {
        var requestid = $(this).attr('value');
        $.ajax({
            url: '/Case/ViewNotes',
            type: 'GET',
            data: { id: requestid },
            success: function (response) {
                $('#nav-home').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });
    $('#cancel_case').on('click', function (e) {
        var requestid = $(this).attr('value');
        var reason1 = $('#casetags').val();
        var addon = $('#floating').val();
        
        $.ajax({
            url: '/Case/CancelCase',
            type: 'POST',
            data: { Id: requestid, admin_notes:addon,reason:reason1},
            success: function (response) {
                $('#nav-new').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });$('#block_case').on('click', function (e) {
        var requestid = $(this).attr('value');
        var addon = $('#floating1').val();
        
        $.ajax({
            url: '/Case/BlockCase',
            type: 'POST',
            data: { Id: requestid, admin_notes:addon},
            success: function (response) {
                $('#nav-new').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });
    $('#assign_case').on('click', function (e) {
        var requestid = $(this).attr('value');  
        var physician = $('#physician').val();
        var addon = $('#float').val();
        
        $.ajax({
            url: '/Case/AssignCase',
            type: 'POST',
            data: { Id: requestid, admin_notes:addon,physician:physician},
            success: function (response) {
                $('#nav-new').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });
    $('#regions').change(function () {
        var regionId = $(this).find(":selected").attr('id'); // This will get the id of the selected region

        $.ajax({
            url: '/Case/GetPhysicianByRegionId', // Replace with your server script URL
            type: 'GET',
            data: { regionId: regionId },
            success: function (data) {
                var secondDropdown = $('#physician'); // Replace with your second dropdown selector
                secondDropdown.empty(); // Clear existing options
                secondDropdown.append($('<option>', {
                    hidden: "hidden",
                    value: "",
                    text: "Select Physician"
                }))
                $.each(data, function (index, item) {
                    secondDropdown.append($('<option>', {
                        value: item.id, // Replace with the actual value from your data
                        text: item.first+" " + item.last // Replace with the actual text from your data
                    }));
                });
            }
        });
    });

</script>