@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<ProviderInfoViewModel>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="width: 80rem;left:300px;position:absolute;">
    <h2 class="mt-2 float-start "> Provider Information</h2>


</div>
<div class="container themed-container ms-0 bg-white" style="left:300px;position:absolute;top:300px;">
    <div class="row">
        <div class="col">
            <select class="form-select search mt-2" aria-label="Default select example" id="region">
                <option selected value="All">All</option>
                @foreach (var item in Model.AsEnumerable())
                {
                    @foreach (var item1 in item.regions)
                    {
                        <option value="@item1.Regionid">@item1.Name</option>
                    }
                    break;
                }
            </select>
        </div>
        <div class="col">
            <button type="button" class="btn btn-info float-end me-1 mt-3 p-create">Create Provider Account</button>
        </div>


    </div>    <img src="/images/icons8-search-25.png" style="position:relative;left:10px;top:-40px;" />
    <table id="exampl2" class="table" style="width:100%">
        <thead class="dtable-head">
            <tr>
                <th class="d-none">RegionId</th>
                <th>Stop Notification</th>
                <th>Provider Name <img src="/images/icons8-arrow-up-25.png" /></th>
                <th>Role</th>
                <th>On Call Status</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="background-color:white !important;color:black !important">
                    <td class="d-none">@item.regid</td>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input noticheck" type="checkbox" value="@item.id" @if (item.BitArray[0])
                            {
                                @: checked
                            }
                                   id="flexCheckDefault">

                        </div>
                    </td>

                    @*  else
                {
                <td>
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="@item.id" id="flexCheckDefault">

                </div>
                </td>
                } *@
                    <td>@item.ProviderName</td>
                    <td>Physician</td>
                    <td>UnAvailable</td>
                    <td>@item.findStatus(item.Status)</td>
                    <td>
                        <button type="button" class="btn btn-outline-info me-1 mt-1" data-bs-toggle="modal" data-bs-target="#contactModal">Contact</button>
                        <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog  modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header" style="background-color:#01BCE9;color:#9EF2F6">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Contact your provider</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body" style="border:none">
                                        <h6 class="mt-2 mb-4">Choose communication to send message</h6>
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                            <label class="form-check-label" for="flexRadioDefault1">
                                                SMS
                                            </label>
                                        </div>
                                        <div class="form-check mb-2">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Email
                                            </label>
                                        </div>
                                        <div class="form-check mb-4">
                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3" checked>
                                            <label class="form-check-label" for="flexRadioDefault2">
                                                Both
                                            </label>
                                        </div>
                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a comment here" id="textMessage" style="height: 100px"></textarea>
                                            <label for="floatingTextarea2">Message</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer" style="border:none">

                                        <button type="button" class="btn btn-outline-info" id="sendmail" @* value="@item.requestid" *@ data-bs-dismiss="modal" value="@item.id">Send</button>
                                        <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">Cancel</button>"
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-outline-info me-1 mt-1 edit" value="@item.id">Edit</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    var table = $('#exampl2').DataTable({ dom: 'lrtip' });
    $('#region').on('change', function () {
        var value = $(this).val();
        if (value == 'All') {
            table.columns(0).search('').draw();
        }
        else {
            table.columns(0).search(value).draw(); // Replace 0 with the index of the column you want to filter
        }
    });
    $('.noticheck').on('change', function () {
        var value = $(this).val();
        console.log(value);
        var item;
        // Check if the checkbox is checked
        if ($(this).prop("checked")) {
            item = 1;
            console.log("Checkbox is checked");
        } else {
            item = 0;
            console.log("Checkbox is not checked");
        }
        console.log(item);
        $.ajax({
            url: '/Provider/CheckNotification',
            type: 'POST',
            data: { check: item, Id: value},
            success: function (response) {
                $('#nav-home').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });
    $('#sendmail').on('click', function (e) {
        var email = $('#textMessage').val();
        var id = $(this).attr('value');
        console.log(email);
        console.log(id);

        $.ajax({
            url: '/Case/SendEmail1',
            type: 'POST',
            data: { mail: email, Id: id },
            success: function (response) {
                $('#nav-home').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });
    $('.edit').on('click', function (e) {
        var id = $(this).attr('value');

        $.ajax({
            url: '/Provider/Edit',
            data: { Id: id },
            success: function (response) {
                $('#nav-home').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });
    $('.p-create').on('click', function (e) {


        $.ajax({
            url: '/Provider/Create',
            success: function (response) {
                $('#nav-home').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });
</script>