@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model HalloDoc.Models.PartnerViewModel
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom" style="width: 80rem;left:300px;position:absolute;">
    <h2 class="mt-2 float-start "> Vendor(s)</h2>
   


</div>
<div class="container themed-container ms-0 bg-white" style="left:300px;position:absolute;top:300px;">
    <div class="row">
        <div class="col-2 mt-3"><input type="search" placeholder="Search Patients" class="search" /><img src="/images/charm1.png" style="position:relative;left:21px;bottom:39px" /></div>
        <div class="col-2 mt-3">
            <select class="form-select search" aria-label="Default select example" id="region">
                <option selected value="0">All Regions</option>
             @foreach(var item in Model.regions)
             {
                        <option value="@item.Regionid">@item.Name</option>
             }                     
            </select>
            <img src="/images/charm1.png" style="position:relative;left:10px;top:-40px;" />
        </div>
        <div class="col-8">
            <button type="button" class="btn btn-outline-info float-end me-1 mt-3 mb-2" id="addbusiness">+ Add Business</button>
        </div>


    </div>
    <table id="exampl2" class="table" style="width:100%">
        <thead class="dtable-head">
            <tr>

                <th>Profession </th>
                <th class="d-none">Region Id </th>
                <th>Business Name </th>
                <th>Email </th>
                <th>Fax Number </th>
                <th>Phone Number </th>
                <th>Business Contact </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
         @foreach(var item in Model.healthprofessionals)
         {
                    <tr style="background-color:white !important;color:black !important">

                        
                        @foreach(var item1 in Model.Healthprofessionaltypes)
                        {
                        if (item1.Healthprofessionalid == item.Profession)
                        {
                            <td>@item1.Professionname</td>
                        }
                    }
                    <td class="d-none">@item.Regionid</td>
                    <td>@item.Vendorname</td>
                        <td>@item.Email</td>
                        <td>@item.Faxnumber</td>
                        <td>@item.Phonenumber</td>
                        <td>@item.Businesscontact</td>
                        <td>
                            <button type="button" class="btn btn-outline-info me-1 mt-1" id="editbuss" value="@item.Vendorid">Edit</button>
                        <button type="button" class="btn btn-outline-info me-1 mt-1 del-role" id="delbuss" value="@item.Vendorid">Delete</button>
                        </td>
                    </tr>
                
          }  
        </tbody>
    </table>
</div>
<script>
    var table = $('#exampl2').DataTable({ dom: 'lrtip' });
    $('input[type="search"]').on('keyup', function () {
        table.search(this.value).draw();
    });

    $('#addbusiness').on('click', function (e) {
    
        $.ajax({
            url: '/Partner/AddBusiness',
            success: function (response) {
                $('#nav-home').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });$('#editbuss').on('click', function (e) {
        var bus = $(this).attr('value');
        $.ajax({
            url: '/Partner/EditBusiness',
            data:{id:bus},
            success: function (response) {
                $('#nav-home').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });
    $('#delbuss').on('click', function (e) {
        var bus = $(this).attr('value');
        $.ajax({
            url: '/Partner/DeleteBusiness',
            data:{id:bus},
            success: function (response) {
                $('#nav-home').html(response);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });
    $('#region').on('change', function () {
        var value = $(this).val();
        if (value == '0') {
            table.columns(1).search('').draw();
        }
        else {
            table.columns(1).search(value).draw(); // Replace 0 with the index of the column you want to filter
        }
    });
</script>